/*去掉标签默认样式*/
body,h1,h2,h3,h4,h5,h6,p,pre,ul,ol,li,form,input,textarea,dl,dt,dd,img{
margin:0;
padding:0;
}
ul li{
list-style:none;
}
a{
text-decoration:none;
}
img{
border:none;
}
body{
background:#fff;
}
*{
font-family:"微软雅黑"
}
